<% if !user_signed_in? %>
  <style>
   body
   {
     background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/bg.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }
   h1
   {
     color: white;
     font-weight: bold;
   }
   .container-index
   {
     margin-right: 15%;
     margin-left: 15%;
   }
   .text
   {
     color: white;
     font-weight: 300;
     font-size: 150%
   }
   .sign-in
   {
     color: white;
     text-align: center;
     margin-top: 10%;
     font-size: 75%;
   }
   .sign-up
   {
     color: white;
     text-align: center;
     margin-top: 10%;
     font-size: 75%;
   }

  </style>

  <div class="container-index row">
    <div class="col-sm-6">
      <h1> Welcome To Orb. </h1>
      <p class="text">
        Connect With Your Friends and Family no matter where they are. Make new friends. Send orbs directly to your favourite celebrity and many more. Sign Up TODAY.
      </p>
    </div>
  </div>
    <div>
    <div class="col-sm-12">
      <p class="sign-in"></p>
        <li type="button" class= "btn btn-primary navbar-btn"><a href="/users/sign_in">Sign In</li>
        </div>
    <div class="col-sm-12">
      <p class="sign-up"></p>
        <li type="button" class= "btn btn-primary navbar-btn"><a href="/users/sign_up">Sign Up</li>
        </div>
    </div>

  </div>

<% else %>
  <script> document.location = "/home" </script>
<% end %>
